$primaryLight: #5efb50;
$primary: hsl(120, 95%, 50%);
$primaryDark: hsl(125, 95%, 25%);
$secondary: hsl(300, 95%, 50%);
$error: hsl(349, 95%, 49%);
$white: hsl(0, 5%, 100%);
$whiteLight: hsl(0, 5%, 85%);
$black: hsl(0, 5%, 7%);
$blackLight: hsl(0, 5%, 23%);