$primaryLight: hsl(115, 90%, 65%);
$primary: hsl(120, 90%, 50%);
$primaryDark: hsl(125, 90%, 25%);
$secondary: hsl(300, 90%, 50%);
$error: hsl(349, 90%, 49%);
$white: hsl(0, 5%, 100%);
$whiteLight: hsl(0, 5%, 85%);
$black: hsl(0, 5%, 7%);
$blackLight: hsl(0, 5%, 23%);