@use "../abstract/" as *;

.auth {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  max-width: 30rem;
  min-height: 35rem;
  margin: 1.5rem auto;
  padding: 2rem 1rem;
  border-radius: .25rem;
  box-shadow: 0 0 .3rem $blackLight;
  color: $blackLight;

  &-msg {
    font-size: 1.5rem;
  }

  &-link {
    padding: 0 .25rem;
    color: $primaryDark;
    font-weight: 900;
  }

  &-error {
    color: $error;
    font-size: 1.5rem;
    min-height: 3rem;
  }

  &-title {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  &-label {
    display: block;
    font-weight: 900;
    font-size: 1.75rem;
    text-transform: uppercase;
    color: $primaryDark;
  }

  &-input {
    outline: none;
    padding: .5rem .5rem;
    font-size: 1.75rem;
    margin: .25rem 0;
  }

  &-btn {
    margin-top: auto;
    background-color: $secondary;
    font-size: 1.75rem;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: .25rem;
    cursor: pointer;
    color: $black;
    font-weight: 900;
    text-transform: uppercase;

    &:disabled {
      opacity: .5;
      cursor: auto;
    }
  }
}