@use "../abstract/" as *;

.footer {
  display: none;
  background-color: $black;

  &-text {
    color: $white;
    font-size: 1.5rem;
    text-align: center;
  }

  @include mq(768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}