@use "../abstract/" as *;

.hero {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: 2.5rem;
  height: 100%;
  max-width: 140rem;
  margin: 0 auto;

  &-figure {
    flex: 1;
  }

  &-img {
    max-width: 100%;
    object-fit: cover;
  }

  &-details {
    flex: 2;
  }

  &-title {
    margin-top: 3rem;
    font-size: 3.5rem;
    font-weight: 500;
  }

  &-subtitle {
    margin: 1rem 0;
    font-size: 2;
    font-weight: 100;
    line-height: 1.5;
  }

  &-cta {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
    font-size: 1.75rem;

    &-btn {
      border: $secondary solid;
      padding: 1.5rem 1rem;
      text-transform: uppercase;
      border-radius: 0.75rem;
      letter-spacing: 0.1rem;
      transition: transform 0.3s ease-out;

      &:first-of-type {
        background-color: $secondary;
        color: $black;
      }

      &:hover {
        transform: scale(0.95);
      }

      &.active {
        background-color: $secondary;
        font-weight: 900;
      }
    }
  }
}
