@use "../abstract/" as *;
@use "sass:color";

.workouts {
  height: 100%;

  &-title {
    font-size: 2.5rem;
    padding: 0 1rem;
    border-left: none;
    border-right: none;
    margin: 1.5rem 0 1rem;
    text-align: center;

    @include mq(768px) {
      text-align: left;
      border-left: solid $primaryDark 1.5px;
      border-right: solid $primaryDark 1.5px;
    }
  }

  &-fallback {
    margin: 1rem 0;
    font-size: 2rem;
  }

  &-link {
    border: none;
    background-color: $secondary;
    color: $white;
    padding: 1rem 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 2rem;
  }

  &-loading {
    font-size: 2rem;
    margin: 1.5rem auto;
    text-align: center;
  }

  &-error {
    color: $error;
    font-size: 2rem;
    margin: 1.5rem 0;

    &-btn {
      border: none;
      font-size: 2rem;
      margin: 0 0.25rem;
      background-color: $secondary;
      cursor: pointer;
      border-radius: 0.25rem;
      padding: 1.25rem 1rem;
      transition: transform 0.3s ease-out;

      &:hover {
        transform: scale(0.95);
      }
    }
  }

  &-list {
    margin-top: 0.5rem;
  }

  &item:not(:first-of-type) {
    margin: 2.5rem 0;
  }

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    color: $black;
    border: $primaryDark solid;
    gap: 2.5rem;
    margin-bottom: 2.5rem;
    background-color: rgba(225, 225, 225, .75);

    @include mq(768px) {
      flex-direction: row;
    }

    &.done {
      background-color: color.scale($primaryLight, $lightness: 25%);
    }

    &-details {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      align-items: center;

      @include mq(768px) {
        flex-direction: row;
        gap: 2.5rem;
      }
    }

    &-name {
      flex: 1 1 33%;
    }

    &-reps {
      flex: 1 1 33%;
    }

    &-load {
      flex: 1 1 33%;
    }

    &-tools {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 5rem;
    }

    &-tool {
      border: 0;
      background-color: transparent;

      font-size: 2.5rem;
      cursor: pointer;
      border-radius: 0.25rem;

      &.toggle {
        transform: translateY(-0.25rem);
      }

      &.trash {
        color: $error;
      }
    }
  }
}
