@use "../abstract/" as *;

.workouts {
  height: 100%;

  &-title {
    font-size: 3.5rem;
    width: max-content;
    padding: 0 1rem;
    border-left: solid $primaryDark 1.5px;
    border-right: solid $primaryDark 1.5px;
  }
  
  &-fallback {
    margin: 1rem 0;
    font-size: 2rem;
  }

  &-link {
    border: none;
    background-color: $secondary;
    color: $black;
    padding: 1rem .75rem;
    border-radius: .25rem;
    cursor: pointer;
    font-size: 2rem;
  }

  &-loading {
    font-size: 2rem;
    margin: 1.5rem 0;
  }

  &-error {
    color: $error;
    font-size: 2rem;
    margin: 1.5rem 0;

    &-btn {
      border: none;
      font-size: 2rem;
      margin: 0 .25rem;
      background-color: $secondary;
      cursor: pointer;
      border-radius: .25rem;
      padding: 1.25rem 1rem;
      transition: transform .3s ease-out;

      &:hover {
        transform: scale(0.95);
      }
    }
  }

  &-list {
    margin-top: 1.5rem;
  }

  &-item:not(:first-of-type) {
    border: $primaryDark solid;
    margin: 1rem 0 2.5rem;
  }

  &-item:first-of-type {
    margin: 1rem 0 .5rem;
    border-bottom: $primaryDark solid;
    color: $black;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-radius: .25rem;
    color: $blackLight;

    &.done {
      background-color: $primaryLight;
    }

    &-details {
      flex-basis: 50rem;
      display: flex;
      align-items: center;
    }

    &-name {
      flex: 1 1 50rem;
      color: $black;
    }

    &-reps {
      flex: 1 1 15rem;
    }

    &-load {
      flex: 1 1 15rem;
    }

    &-tools {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 5rem;
    }

    &-tool {
      border: 0;
      background-color: transparent;

      font-size: 2.5rem;
      cursor: pointer;
      border-radius: .25rem;

      &.toggle {
        transform: translateY(-.25rem);
      }

      &.trash {
        color: $error;
      }
    }
  }
}