@use "./abstract/" as *;

:root {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $blackLight;
  font-size: 1.6rem;
  min-height: 100vh;
  line-height: 1.5;
  font-family: Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-rows: minmax(12.5vh, auto) 1fr;
  font-kerning: normal;

  @include mq(768px) {
    grid-template-rows: minmax(12.5vh, auto) 1fr minmax(5vh, auto);
  }
}

a,
span,
label {
  display: inline-block;
}

a {
  text-decoration: none;
  color: unset;

  &.active {
    color: $primaryDark;
  }

  &.inactive {
    color: $blackLight;
  }
}

ul {
  list-style: none;
}

.main {
  padding: 1rem 1.5rem;
}