@use "./abstract/" as *;

:root {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  color: $blackLight;
  font-size: 1.6rem;
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-rows: 10vh 1fr 5vh;
}

a,
span,
label {
  display: inline-block;
}

a {
  text-decoration: none;
  color: unset;

  &.active {
    color: $primaryDark;
  }

  &.inactive {
    color: $blackLight;
  }
}

ul {
  list-style: none;
}

.main {
  padding-top: 2.5rem;

  @include mq(768px) {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
  }
}